:root {
  --font-family-main: consolas, 'san-serif';
  --font-size-sm: 0.5rem;
  --font-line-sm: 1rem;
  --font-sm: var(--font-size-sm) / var(--font-line-sm) var(--font-family-main);
  --font-size-md: 1rem;
  --font-line-md: 1.5rem;
  --font-md: var(--font-size-md) / var(--font-line-md) var(--font-family-main);
  --font-size-lg: 1.5rem;
  --font-line-lg: 2rem;
  --font-lg: var(--font-size-lg) / var(--font-line-lg) var(--font-family-main);
  --font-size-xl: 2rem;
  --font-line-xl: 2.5rem;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
  --font-size-xxl: 2.5rem;
  --font-line-xxl: 3rem;
  --font-xxl: var(--font-size-xxl) / var(--font-line-xxl) var(--font-family-main);

  // Размеры
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;

  // z - Индексы
  --modal-z-index: 10;
  --sidebar-z-index: 9;
  --list-box-z-index: 8;
  --dropdown-z-index: 8;

  // Цвета
  --overlay-color: rgba(0 0 0 / 60%);
  --red-light: #f00;
  --red-dark: #8f0707;
  --disabled: #b3b3b3
}
