.title {
  color: var(--primary-color);
}

.text {
  color: var(--secondary-color);
}

.inverted {
  .title {
    color: var(--inverted-primary-color);
  }

  .text {
    color: var(--inverted-primary-color);
  }
}

.error {
  .title {
    color: var(--red-light);
  }

  .text {
    color: var(--red-dark);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.size_sm {
  .text {
    font: var(--font-sm);
  }

  .title {
    font: var(--font-md);
  }
}

.size_md {
  .text {
    font: var(--font-md);
  }


  .title {
    font: var(--font-lg);
  }
}

.size_lg {
  .text {
    font: var(--font-lg);
  }

  .title {
    font: var(--font-xl);
  }
}