.Sidebar {
  display: inline-flex;
  flex-direction: column;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  text-align: center;
  position: relative;
  transition: width .3s ease-in-out;
  z-index: var(--sidebar-z-index);
  flex-shrink: 0;
}

.collapseBtn {
  position: absolute;
  bottom: 32px;
  right: -32px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}
