.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  text-align: center;
  position: relative;
  transition: width .3s;
  z-index: var(--sidebar-z-index);
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  width: 100%;
}

.collapseBtn {
  position: absolute;
  bottom: 32px;
  right: -32px;
}

.menu {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .item {
    column-gap: 0;
  }
}
