.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  text-align: center;
  position: relative;
  transition: width .3s;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  width: 100%;
}

.collapseBtn {
  position: absolute;
  bottom: 32px;
  right: -32px;
}

.menu {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.item {
  display: flex;
  align-items: center;
  column-gap: 5px;
  text-decoration: none;
}

.link {
  opacity: 1;
}

.icon {
  height: 20px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .link {
    opacity: 0;
    width: 0;
    transition: opacity 0.1s ease-in-out;
  }

  .item {
    column-gap: 0;
  }
}
