.item {
  display: flex;
  align-items: center;
  column-gap: 8px;
  text-decoration: none;
}

.link {
  opacity: 1;
}

.icon {
  height: 20px;
}

.collapsed {
  .link {
    opacity: 0;
    width: 0;
    transition: opacity 0.1s ease-in-out;
  }
}

